.Aboutpage {
    color: aliceblue;
    position: relative;
    padding: 0 0 3.6rem 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.Aboutpage>img {
    width: auto;
    padding: 1%;
}

.about-details {
    margin: auto auto;
    padding-bottom: 6rem;
    width: 100%;
    margin: 1%;
    font-size: 18px;
    font-weight: 400;
    max-width: 45rem;
}

.about-details>h1,
.about-details>p {
    margin-bottom: 2%;
}

.sx {
    /* height: 40rem; */
}

.img_section .sx2 {
    bottom: 70%;
    left: 0rem;
    width: 80%;
    animation: animate 4s linear infinite;

}

.img_section .sx1 {
    height: 30rem;
    width: 100%;
    animation: anini 4s linear infinite;
}

@keyframes animate {
    50% {
        bottom: 60%;
    }
}

@media screen and (max-width: 700px) {
    .sx {
        height: 23rem;
    }

    .img_section .sx1 {
        width: 355px;
        height: 100%;
    }

    .img_section .sx2 {
        width: 315px;
        bottom: 90%;
    }

    @keyframes animate {
        50% {
            left: 2rem;
        }
    }

    .Aboutpage {
        flex-direction: column-reverse;
    }

    .Aboutpage>img {
        width: 90%;
        max-width: 20rem;
    }
}