.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    position: sticky;
    top: 0;
    color: aliceblue;
    font-family: "DM Sans", sans-serif;
    z-index: 2;
    transition: all 0.3s ease-out;
}
.navlogo{
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    z-index: 2;
}
.navbar img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 134, 251);
}

.navlinks {
    z-index: 0;
    margin-left: auto;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.link{
    width: fit-content;
    color: aliceblue;
    margin-right: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in;
    padding: 10px;
}

.active{
    border-bottom: 2px solid #0086fb;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 0.5px 0.75px 0.5px #0086fb;
}

.link:hover {
    color: #7d7b7b;
    border-bottom: 2px solid #7d7b7b;
    transition: all 0.2s ease-in;
}

.icon>a>svg{
    color: rgb(0, 136, 255);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#menu__toggle{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* media queries */
@media screen and (max-width: 1100px) {
    #menu__toggle {
        display: inline;
        position: absolute;
        top: auto;
        bottom: auto;
        right: 20px;
    }

    .show{
        
        transition-duration: .25s;
    }
    .hide{
        transform: translate(-100%);
        left: -100%;
       transition: all 0.5s ease-in-out;
    }
    .linkouter{
        position: absolute;
        top: -2rem;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 105vh;
        background-color: #0086fb;
        opacity: 0.5;     
    }
    .navlinks{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: -2rem;
        left: 0;
        min-width: 20rem;
        height: 105vh;
        list-style: none;
        background-color: #26293c;
        box-shadow: 2px 2px 6px rgba(0, 0, .4);
    }
    .navlinks .link {
        display: block;
        margin-left: 10%;
        padding: 12px 24px;
        font-family: 'Roboto', sans-serif;
        transition-duration: .25s;
    }
    .icon{
        margin-left: 10%;
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
    .icon::after{
        content: "GitHub";
        align-items: center;
        vertical-align:top;
        font-size: 25px;
    }
    .navlinks a:hover {
        color: #696b68;
    }

    .contactbtn{
        margin-left: auto;
    }

    .navbar img{
        max-width:50%;
    }

}

@media screen and (max-width: 400px) {
    #menu__toggle{
        left: 10px;
    }
    .contactbtn{
        display: none;
    }

    .menu__btn{
        position: absolute;
        top: auto auto;
        right: 0;
    }

}