.img_section{
    height: 40rem;
}

.img_section .frontimg{
    border-radius: 45%;
    top: 0rem;
    right: 20px;
    width: 450px;
    z-index: 1;
    position: relative;
    animation: anini 4s linear infinite;
}
.img_section .blob{
    position: relative;
    bottom: 28rem;
    width: 500px;
    z-index: 0;
    animation: anini 4s linear infinite;
}

@keyframes anini {
    50%{
        right: 1px;
        bottom: 25rem;
    }
}

.front{
    background-image: url('../../../assestes/bgcfront.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* margin-top: -8rem; */
}

.profile-container{
    position: relative;
    margin-top: 1rem;
    padding: 5rem 0 1rem 0;
    display: flex;
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

.profile-details{
    margin: 0.5rem;
    max-width: 75%;
    z-index: 1;
}

.profile-name{
    margin: 2%;
}
.heightlighted-text{
    color: rgb(27, 93, 158);
    text-shadow: 1.3px 0.5px black;
    font-weight: bold;
}
.prifile-role{
    margin: 2%;
}




.btn{
    margin: 2%;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    color:aliceblue;  
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.btn-lightdark{
    background-color: rgb(102, 101, 101);
}
.btn-lightdark:hover{
    background-color: rgb(69, 68, 68);
}
.btn-blue{
    background-color: rgb(42, 136, 230);
}
.btn-blue:hover{
    background-color: rgb(30, 109, 189);
}

.profile-container>img{
    width: 40%;
    margin: 1%;
}

@media screen and (max-width: 700px) {
    .img_section{
        height: 30rem;
    }
    .img_section .blob{
        width: 350px;
        bottom: 23rem;
    }
    .img_section .frontimg{
        width: 350px;
    }
    @keyframes anini {
        50%{
            bottom: 25rem;
        }
    }
    .profile-container{
        flex-direction: column-reverse;
    }
    .profile-details{
        width: 90%;
    }
    .profile-container>img{
        max-width: 20rem;
        width: 90%;
    }
}
